@import "../../styles/variables.scss";

.dialog{
  &__header {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $main_text_color;
    h2{
      color: $main_text_color;
      font-weight: 200;
    }
  }
  &__form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}