$main_color:rgb(74, 118, 233);
$secondary_color: rgb(255, 255, 255);
$main_text_color: rgb(73, 76, 80);
$hover_color: rgb(46, 92, 208);
$active_color: rgb(24, 67, 178);
$close_btn_color: rgb(52, 64, 80);